[Unit]
Description=Speech to Text Service
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/defintek.io/public_html/s2t
ExecStart=/var/www/defintek.io/public_html/s2t/start-s2t.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target 